@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f8f8f8;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/* -------------------------- SIDE NAVBAR --------------------------  */
.navbar {
  /* background-color: #fff; */
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.menu-bars.inactive {
  color: orange;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.nav-menu {
  /* background-color: #fff; */
  background-color: #f8f8f8;
  /* background-color: #060b26; */
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  top: 0;
  transform: translateX(-110%);
  transition: 750ms;
  z-index: 2;
}

.nav-menu ul {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  color: black;
}

.nav-menu.active {
  transform: translateX(-10%);
  transform-style: 350ms;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* -------------------------- END SIDE NAVBAR --------------------------  */

/* -------------------------- HOMEPAGE  --------------------------  */
.hero {
  display: flex;
  flex-direction: column;
}
.value-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.value-message h1 {
  font-size: 3rem;
  font-weight: 400;
}

.value-message p {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 30px;
}

.value-message a {
  margin-top: 10px;
  text-decoration: underline;
}

.value-message a:hover {
  color: #f4b93b;
}

.new-releases {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 450px;
}

.controls-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  z-index: 1;
}

.controls-group :nth-child(1) {
  grid-column-start: 1;
  justify-self: start;
}
.controls-group :nth-child(2) {
  grid-column-start: 2;
  justify-self: end;
}

.carousel-control {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.carousel-img {
  width: 325px;
  height: 100%;
  z-index: 0;
}

.item-description {
  width: 100%;
  text-align: start;
  margin-left: 20px;
}

.item-description h2 {
  font-weight: 500;
}

/* -------------------------- END HOMEPAGE  --------------------------  */
.heading {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.heading p {
  color: #828282;
}

.controls-header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.controls-header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-element {
  margin-left: 5px;
  margin-right: 5px;
}

.active {
  color: #f4b93b;
}

.controls-header ul li a:hover {
  color: #777;
}

.books {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  /* padding: 20px 0 10px; */
  /* position: relative; */
  transition: 0.25s;
}

.book-cover {
  width: 100%;
  max-width: 370px;
  height: auto;
}

.book:hover {
  border-color: rgb(119, 119, 119);
}

.book-info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.book h2 {
  width: 100%;
  text-align: left;
}

.book p {
  width: 100%;
  text-align: left;
}
.book img {
  height: 100%;
  width: 150px;
  margin-right: 2rem;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0px 100px;
}

.comment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  margin: 10px 0;
  padding: 5px;
  text-align: left;
  background-color: #f8f8f8;
}

.content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-btn {
  min-width: 20px;
  border: none;
  padding: 5px;
  margin-right: 0.5rem;
  font-size: 12px;
  cursor: pointer;
}

.comment-btn:hover {
  color: #777;
}

.comment-body {
  margin-left: 0.5rem;
}

.right-wrapper,
.left-wrapper {
  display: flex;
  align-items: center;
}

.right-wrapper p {
  margin-right: 20px;
  font-size: 12px;
}

.pagination {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pagination-btn {
  /* border: 1px solid #000; */
  background: transparent;
  cursor: pointer;
  padding: 5px 15px;
  margin-right: 5px;
}

.pagination-btn:disabled {
  background-color: #333;
  color: #fff;
}

.page-numbers {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.page-numbers li {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.form,
.content {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  border: 1px solid #000;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 15;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  /* position: relative; */
  display: inline-block;
}

.btn-action {
  width: 100px;
  height: 40px;
  padding: 10px 10px;
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-action:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}
.btn-action:hover {
  color: #000;
}
.btn-action:hover:after {
  left: 0;
  width: 100%;
}

.btn-action:active {
  top: 2px;
}

.btn-ellipsis {
  padding: 5px 5px;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: default;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  width: 100%;
  height: 200px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------  DELETE BOOK MODAL-------------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-content {
  border: 1px solid #000;
  border-radius: 3px;
  position: fixed;
  background: white;
  width: 80%;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  margin-bottom: 20px;
}

.modal-controls {
  display: flex;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/*--------------------------  END DELETE BOOK MODAL-------------------------- */

/* -------------------------- FOOTER  --------------------------  */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
  background-color: #f8f8f8;
}

.footer-message {
  font-weight: 500;
}

.media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 30%;
}

/* -------------------------- END FOOTER  --------------------------  */

@media (max-width: 600px) {
  .form {
    width: 100%;
  }

  .heading h1 {
    font-size: 1.5rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  .controls-header ul li {
    font-size: 1rem;
  }

  .book {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .book img {
    height: 100%;
    width: 150px;
    margin-right: 1rem;
  }

  .book h2 {
    font-size: 1.2rem;
  }

  .right-wrapper {
    margin-bottom: 0.5rem;
  }

  .left-wrapper {
    flex-direction: column;
  }
  .left-wrapper p {
    font-size: 0.9rem;
  }

  .book-info-section {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .carousel {
    flex-direction: column;
  }

  .item-description {
    margin-top: 30px;
    margin-left: auto;
  }

  .media-icons {
    font-size: 2rem;
    width: 50%;
  }
}
